<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="TrackRadar.TrackRadar" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="TrackRadar">
        <activity android:name="MainActivity"
                  android:clearTaskOnLaunch="true"
                  android:launchMode="singleTop">
        </activity>
  </application>
</manifest>